{% extends 'base.html' %}
 this is display course index
{% block title %}
    COURSE INDEX
{% endblock %}
 {% block content %}
     <center>
    <h2> List Courses</h2>
    {% for object in object_list %}
        <ul> Course{{ object.id }}
            <li>Name:<a href="{% url 'course_detail' object.id %}"> {{ object.name }}</a> |
                <a href= "{% url 'course_update' object.id %}"> <b> Edit </b></a>|
                <a href= "{%  url 'course_delete' object.id %}"><i> Delete </i></b></bi></a>
            </li>

            <li>Description:{{ object.description }}</li>
        </ul>
    {% endfor %}
     </center>
    <a href="{% url 'course_new' %}"> <b> New Course</b> </a>

 {% endblock %}