{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% block title %}Home{% endblock %}
{% load framgia_tags %}
{%block content %}
<div class="ud-angular-loader">
    <div class="channels skin6 channel-featured">
        <div class="tab-content">
            <div class="container">

                <div class="fxw fxdc-md">
                    <div class="lc dn-md">
                        <div class="dn-md">
                            <b class="mt10 fs12 db">
                                Category course
                            </b>
                            <ul class="left-category mt10">
                                <li>
                                    <a href="" class="skin-color fxjc-md">
                                        <span class="chan-title">Python</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="skin-color fxjc-md">
                                        <span class="chan-title">Ruby</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    {% get_course_list %}

                 </div>
            </div>
        </div>
     </div>
</div>
{%endblock%}
